.about-div {
  margin: 5em;
}

.about-description {
  display: flex;
}

.about-details-container {
  display: flex;
  flex-direction: column;
}

.about-details-lists {
  display: flex;
}

.about-details-list {
  font-size: 0.1em;
}

.about-details-title {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.5em;
  color: var(--dark-text-color);
  width: 100%;
}

.about-details-list-container {
  display: flex;
  flex-direction: row;
}

.about-details-list {
  margin-right: 1em;

  li {
    list-style-image: url('https://api.iconify.design/bi/chevron-right.svg');
    margin-bottom: 1em;

    div {
      * {
        font-size: 1.2em;
      }
    }
  }
}
