.resume-div {
  margin: 5em;
}

.resume-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #050d18;
}

.resume-container {
  display: flex;
  justify-content: space-between;
}

.resume-container > div {
  width: 100%;
}
